@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
  font-family: 'Adelia';
  src: local('Adelia'), url(../fonts/adelia.ttf) format('truetype');
  src: local('Adelia'), url(../fonts/adelia.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8ff;
}

:root {
  --primary: #0d47a1;
  --primary-dark: #0b2d61;
  --secondary: #970f31;
  --secondary-light: #d44f5f;
  --tertiary: #757687;
  --tertiary-light: #a9aabc;
  --black: #121212;
  --green: #4caf50;
}

.main-container {
  margin: 8rem auto;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 90%;
  }
}
