@font-face {
  font-family: 'Adelia';
  src: local('Adelia'), url(../fonts/adelia.ttf) format('truetype');
  src: local('Adelia'), url(../fonts/adelia.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
}

:root {
  --primary: #0d47a1;
  --primary-dark: #12366b;
  --secondary: #970f31;
  --secondary-light: #d44f5f;
  --tertiary: #757687;
  --tertiary-light: #a9aabc;
  --black: #121212;
  --green: #4caf50;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 90%;
  }
}
